<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - Online Soluation</title>

	
</head>
<body>
    <div class="container-fluid">
        
    </div>

    @RenderBody()



    <footer class="footer">
        <div class="container-fluid">
            <p class="text-muted">Copyright © 2002-2015 Telerik. All rights reserved.</p>
        </div>
    </footer>

    <script>
        $(document).ready(function () {
            $("#menu").kendoMenu();

            $("#responsive-panel").kendoResponsivePanel({
                breakpoint: 768,
                autoClose: false,
                orientation: "top"
            });
        });
   
    </script>
</body>
</html>
